

#colors {
    width: 800px;
    height: 100px;
    display: flex;
    
    div {
        width: 100px;
        height: 100px;
    }

    #c1 {
        background-color: lightgray;
    }
    #c2 {
        background-color: gray;
    }
    #c3 {
        background-color: orange;
    }
    #c4 {
        background-color: orange;
    }
    #c5 {
        background-color: lightgreen;
    }
    #c6 {
        background-color: green;
    }
    #c7 {
        background-color: lightsteelblue;
    }
    #c8 {
        background-color: blue;
    }
}



