

#colors {
    width: 800px;
    height: 100px;
    display: flex;
    
    div {
        width: 100px;
        height: 100px;
    }

    #c1 {
        background-color: lightgray;
    }
    #c2 {
        background-color: gray;
    }
    #c3 {
        background-color: rgb(206, 206, 255);
    }
    #c4 {
        background-color: rgb(107, 107, 245);
    }
    #c5 {
        background-color: rgb(248, 132, 132);
    }
    #c6 {
        background-color: rgb(250, 76, 76);
    }
    #c7 {
        background-color: rgb(139, 248, 139);
    }
    #c8 {
        background-color: rgb(56, 250, 56);
    }
}



