<form #loginForm="ngForm" (submit)="login(); email.value = ''; password.value = ''">
    <label for="email">Email:</label>
    <input name="email" #email [(ngModel)]="user.email" type="text" (keyup)="message = ''" required>
    <label for="password">Password:</label>
    <input name="password" #password [(ngModel)]="user.password" type="password" (keyup)="message = ''" required>
    <p class="error" *ngIf="message">{{message}}</p>
    <button [disabled]="!loginForm.valid">Login</button>
</form>
