#detail-container {
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin: 2vw;

    h2 {
        font-size: 2rem;
    }

    a {
        font-size: .8rem;
    }
    img {
        width: 200px;
        height: 200px;
        border: 3px solid black;
        padding: 20px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    #detail-outer {
        border: 3px solid black;
        width: 300px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    
    h3 {
        font-weight: bolder;
        margin:5px 0;
        padding-bottom: 3px;
        font-size: 2rem;
        border-bottom: 7px solid black;
    }

    p {
        border-bottom: 3px solid black;
        font-weight: bolder;
    }

    #detail-box {
        border-bottom: 5px solid black;
        width: 100%;
        padding-top: 10px;
    
        div {
            display: flex;
            width: 100%;
            
            p {
                padding: 5px;
                width: 250px;
                border: 1px solid black;
                border-right: none;
            }
        }
    }

    .percent {
        border: 1px solid black;
        border-left: none;
        width: 50px;
        text-align: right;
    }

    .total {
        text-align: right;
    }

    #detail-box div:nth-child(2n) {
        background-color: #ddd;
    }
}

#calories {
    float: right;
    font-size: 2.5rem;
    padding-bottom: 2px;
}

#calories-box {
    height: 40px;
    line-height: 40px;
    font-size: 1.5rem;
    padding-bottom: 5px;
}

#note {
    font-size: .7rem;
    padding: 3px;
}

@media screen and (max-width: 600px) {
    #detail-container {
        width: 80%;
        height: fit-content;
    }

    #detail-box {
        width: 100%;
    }
}