<header>
  <nav>
    <a [routerLink]="['']">
      <img src="assets/images/food-icon.png" width="40px" alt="Food Icon">
      <h1>{{title}}</h1>
    </a>
    <ul [ngClass]="{'expand' : expand}">
      <li>
        <a [routerLink]="['']" (click)="expand = false">Home</a>
      </li>
      <li *ngIf="loggedIn">
        <a [routerLink]="['profile']" (click)="expand = false">Profile</a>
      </li>
      <li *ngIf="!loggedIn">
        <a [routerLink]="['register']" (click)="expand = false">Register</a>
      </li>
      <li *ngIf="!loggedIn">
        <a [routerLink]="['login']" (click)="expand = false">Login</a>
      </li>
      <li *ngIf="loggedIn">
        <a (click)="onClick()" (click)="expand = false">Logout</a>
      </li>
    </ul>
    <img src="assets/images/hamburger.png" (click)="toggle()" alt="hamburger menu icon" id="hamburger" width="24px" height="24px">
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>

