<header>
  <nav>
    <a [routerLink]="['']">
      <img src="assets/images/food-icon.png" width="40px" alt="Food Icon">
      <h1>Nutrition Tracker</h1>
    </a>
    <ul [ngClass]="{'expand' : expand}">
      <li>
        <a [routerLink]="['']">Home</a>
      </li>
      <li *ngIf="loggedIn">
        <a [routerLink]="['profile']">Profile</a>
      </li>
      <li *ngIf="!loggedIn">
        <a [routerLink]="['register']">Register</a>
      </li>
      <li *ngIf="!loggedIn">
        <a [routerLink]="['login']">Login</a>
      </li>
      <li *ngIf="loggedIn">
        <a (click)="onClick()">Logout</a>
      </li>
    </ul>
    <img src="assets/images/hamburger.png" (click)="toggle()" alt="hamburger menu icon" id="hamburger" width="24px" height="24px">
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>

