#profile-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#left {
    width: 40%;
} 

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 1.5vw;
}

p {
    font-size: 1vw;
}

#date {
    font-size: 2vw;
}

img {
    width: 1vw;
    height: 1vw;
}

#input-box {
    padding: 20px;
}

button {
    width: 100%;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px grey, inset -2px -2px 5px lightgrey;
    background-color: rgb(110, 178, 247);
    border: none;
    color: #eee;
    margin-top: 20px;
}

#search-outer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    
    input, select {
        width: 50%;
        margin: 10px;
        // padding: 1%;
        opacity: .5;
        border: none;
        border-bottom: 1px solid grey;
    }
    
    button {
        width: 50%;
        padding: 10px;
        border-radius: 50px;
        box-shadow: 2px 2px 5px grey, inset -2px -2px 5px lightgrey;
        background-color: rgb(110, 178, 247);
        border: none;
        color: #eee;
        margin-top: 20px;
    }
}
 
.search-foods:hover {
    background-color: #eee;
}

#search-box {
    height: 100px;
    overflow-y: scroll;
    border: 1px solid grey;
    width: 50%;
    
    .search-foods {
        display: flex;
        padding: 1%;

        img {
            padding-right: 5px;
        }
    }
}

#meals-container {
    margin: 20px;

    .meal-box {
        border: 2px solid black;
        width: 90%;
        padding: 10px;
        margin: 5px;
        background-color: #eee;
        border-radius: 5px;
        box-shadow: 0px 0px 15px #ddd, -0px -0px 15px #ddd;
    }

    .food-box {
        margin: 20px;
    }
    
    h4 {
        margin-bottom: 10px;
    }
}

.food-info {
    display: flex;
    width: 100%;
    
    img {
        margin: auto 2%;
    }

    div {
        display: flex;
        margin: 0 2%;
        
    }
}

#right {
    width: 60%;
}

#chart1 {
    width: 100%;
}