<h2>Welcome, {{user.name}}</h2>
<div id="profile-container">
    <div id="left">
        <div id="input-box">
            <button *ngIf="!active && !change" (click)="active = true">Search</button>
            <div *ngIf="active" id="search-outer">
                <label for="meal">Choose a Meal: </label>
                <select name="meal" #meal>
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="snack">Snack</option>
                </select>
                <label>Search Food: </label>
                <input type="text" #searchInput (keyup)="search(searchInput.value)">
                <div id="search-box" *ngIf="foods.length > 0 && searchInput.value !== ''">
                    <div *ngFor="let food of foods" class="search-foods" (click)="getFood(food.name)">
                        <img src={{food.image}} width="20px">
                        <p>{{food.name | uppercase}}</p>
                    </div>
                </div>
                <button (click)="handleSubmit(meal.value); searchInput.value = ''; active = false">Add to Meal</button>
                <button (click)="active = false">Close</button>
            </div>
        </div>
        <p id="date">{{date}}</p>
        <button *ngIf="!change && !active" (click)="change = true">Change Date</button>
        <input *ngIf="change" name="date" type="date" (change)="changeDate($event); change = false">
        <div id="meals-container">
            <div class="meal-box">
                <h3>Breakfast</h3>
                <div class="food-box">
                    <div class="food-info" *ngFor="let item of breakfast">
                        <div (click)='handleDetail(item)'>
                            <img src={{item.image}} width="16px" alt={{item.name}}>
                            <p>{{item.name | uppercase}}</p>
                        </div>
                        <img src="assets/images/x-mark-24.png" (click)="handleDelete(item)" width="16px" height="16px" alt="red x">
                    </div>
                </div>
                <h4>Breakfast Calories: {{breakfastCalories}}</h4>
            </div>
            <div class="meal-box">
                <h3>Lunch</h3>
                <div class="food-box">
                    <div class="food-info" *ngFor="let item of lunch">
                        <div (click)='handleDetail(item)'>
                            <img src={{item.image}} width="16px" alt={{item.name}}>
                            <p>{{item.name | uppercase}}</p>
                        </div>
                        <img src="assets/images/x-mark-24.png" (click)="handleDelete(item)" width="16px" height="16px" alt="red x">
                    </div>
                </div>
                <h4>Lunch Calories: {{lunchCalories}}</h4>
            </div>
            <div class="meal-box">
                <h3>Dinner</h3>
                <div class="food-box">
                    <div class="food-info" *ngFor="let item of dinner">
                        <div (click)='handleDetail(item)'>
                            <img src={{item.image}} width="16px" alt={{item.name}}>
                            <p>{{item.name | uppercase}}</p>
                        </div>
                        <img src="assets/images/x-mark-24.png" (click)="handleDelete(item)" width="16px" height="16px" alt="red x">
                    </div>
                </div>
                <h4>Dinner Calories: {{dinnerCalories}}</h4>
            </div>
            <div class="meal-box">
                <h3>Snacks</h3>
                <div class="food-box">
                    <div class="food-info" *ngFor="let item of snack">
                        <div (click)='handleDetail(item)'>
                            <img src={{item.image}} width="16px" alt={{item.name}}>
                            <p>{{item.name | uppercase}}</p>
                        </div>
                        <img src="assets/images/x-mark-24.png" (click)="handleDelete(item)" width="16px" height="16px" alt="red x">
                    </div>
                </div>
                <h4>Snack Calories: {{snackCalories}}</h4>
            </div>
        </div>
        <h2>Total calories: {{totalCalories}}</h2>
    </div>
    <div id="right">
        <div *ngIf="totalCalories > 0">
            <chart1 id="chart1"
                [carbs]="carbPercentage" 
                [fat]="fatPercentage" 
                [protein]="proteinPercentage">
            </chart1>
            <chart2 id="chart2"
                [totalCalories]="totalCalories"
                [totalCarbs]="totalCarbs"
                [totalFat]="totalFat"
                [totalProtein]="totalProtein"
                [dailyCalorieGoal]="user.dailyCalorieGoal"
                [dailyCarbGoal]="user.dailyCarbGoal"
                [dailyFatGoal]="user.dailyFatGoal"
                [dailyProteinGoal]="user.dailyProteinGoal">
            </chart2>
        </div>
    </div>
</div>
