<h2>Welcome, {{user.name}}</h2>
<p>{{date}}</p>
<label for="date">Change Date: </label>
<input name="date" type="date" (change)="changeDate($event)">
<div>
    <label for="meal">Choose a Meal: </label>
    <select name="meal" #meal>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="snack">Snack</option>
    </select>
    <label>Search Food: </label>
    <input type="text" #searchInput (keyup)="search(searchInput.value)">
    <div *ngFor="let food of foods" (click)="getFood(food.name)">
      <p>{{food.name}}</p>
      <img src={{food.image}} width="50px">
    </div>
    <button (click)="handleSubmit(meal.value); searchInput.value = ''">Add to Meal</button>
</div>
<h3>Breakfast</h3>
<h4>Breakfast Calories: {{breakfastCalories}}</h4>
<div *ngFor="let item of breakfast">
    <div (click)='handleDetail(item)'>
        <img src={{item.image}} width="16px" alt={{item.name}}>
        <p>{{item.name}}</p>
    </div>
    <img src="assets/images/x-mark-24.png" (click)="handleDelete(item)" width="16px" alt="red x">
</div>
<h3>Lunch</h3>
<h4>Lunch Calories: {{lunchCalories}}</h4>
<div *ngFor="let item of lunch">
    <div (click)='handleDetail(item)'>
        <img src={{item.image}} width="16px" alt={{item.name}}>
        <p>{{item.name}}</p>
    </div>
    <img src="assets/images/x-mark-24.png" (click)="handleDelete(item)" width="16px" alt="red x">
</div>
<h3>Dinner</h3>
<h4>Dinner Calories: {{dinnerCalories}}</h4>
<div *ngFor="let item of dinner">
    <div (click)='handleDetail(item)'>
        <img src={{item.image}} width="16px" alt={{item.name}}>
        <p>{{item.name}}</p>
    </div>
    <img src="assets/images/x-mark-24.png" (click)="handleDelete(item)" width="16px" alt="red x">
</div>
<h3>Snacks</h3>
<h4>Snack Calories: {{snackCalories}}</h4>
<div *ngFor="let item of snack">
    <div (click)='handleDetail(item)'>
        <img src={{item.image}} width="16px" alt={{item.name}}>
        <p>{{item.name}}</p>
    </div>
    <img src="assets/images/x-mark-24.png" (click)="handleDelete(item)" width="16px" alt="red x">
</div>
<h2>Total calories: {{totalCalories}}</h2>
<chart1 [carbs]="carbPercentage" [fat]="fatPercentage" [protein]="proteinPercentage"></chart1>
<chart2></chart2>
