img {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
}

h1, h2, h3 {
    width: 80%;
    padding: 10px;
    margin: 0 auto;
}

#logo {
    font-family: 'Oooh Baby', cursive;
}

.description {
    padding: 2%;
    width: 70%;
    margin: 0 auto;
}